.item-container-transaction {
  display: flex;

  border: 1px solid #7e858e;
  border-radius: 3px;
  padding-left: 10px;
  align-items: center;
  width: 100%;
}

.title1,
.amount1,
.type1 {
  color: #475569;
  font-weight: bold;
  font-family: 'Roboto';
  margin-right: 30px;
  width: 15%;
}

.delete-btn {
  border: none;
  outline: none;
  background-color: transparent;
  align-self: flex-end;
  flex-grow: 1;
  cursor: pointer;
  justify-content: flex-end;
}

.delete-img {
  width: 32px;
  height: 32px;
}
